@import "leaflet/dist/leaflet.css";
@import "leaflet.locatecontrol/src/L.Control.Locate.scss";
@import "@geoman-io/leaflet-geoman-free/dist/leaflet-geoman.css";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "../vendor/leaflet-slider/leaflet-slider.css";
@import "../vendor/leaflet.legend.css";
@import "@raruto/leaflet-elevation/src/index.css";

.elevation-polyline {
  stroke: rgb(0, 50, 213);
  stroke-opacity: 1;
}

path.route {
  stroke: rgb(0, 50, 213);
  stroke-opacity: 1;
}

path.is-drawing {
  stroke: rgb(0, 50, 213);
}

.elevation-control.elevation {
  background-color: rgba(255, 255, 255, 0.95);
}

.elevation-control.elevation .background {
  background: none;
}

.elevation-control.elevation .grid .tick line {
  stroke: rgb(230, 230, 230);
}

.elevation-control.elevation .area {
  fill: #3e5bbc;
}

.elevation-control .elevation-summary {
  text-shadow: none;
  text-align: center;
  padding: 0 0 5px 0;
}

body {
  padding: 0;
  margin: 0;
}

html,
body,
#map {
  height: 100%;
  width: 100%;
}

.icon {
  max-width: 65%;
  max-height: 65%;
  margin: 5px;
}
.leaflet-control .fa {
  line-height: 30px;
}
